node-red/beegl_server/beegl_server_flow.json
[{"id":"9a302785.7fd8f8","type":"tab","label":"BeeGl Services","disabled":false,"info":""},{"id":"81739fa2.b34ad","type":"mqtt in","z":"9a302785.7fd8f8","name":"mqtt-beeh1-scale-sensors","topic":"scale_sensors","qos":"2","datatype":"auto","broker":"573669f9.ad8188","x":110,"y":160,"wires":[["ada56658.6741a8"]]},{"id":"ada56658.6741a8","type":"json","z":"9a302785.7fd8f8","name":"Measurement data","property":"payload","action":"","pretty":true,"x":350,"y":160,"wires":[["a01fe850.d8f028"]]},{"id":"8964414b.dbf9a","type":"ui_chart","z":"9a302785.7fd8f8","name":"","group":"10fea2ed.88716d","order":1,"width":0,"height":0,"label":"Weight chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"80000","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":200,"wires":[[]]},{"id":"102fb46a.ccd2bc","type":"function","z":"9a302785.7fd8f8","name":"Extract weight","func":"var m = [\n    {topic:msg.payload.id, payload:msg.payload.whtS.w}\n    ];\nreturn [m];\n\n","outputs":1,"noerr":0,"x":880,"y":200,"wires":[["8964414b.dbf9a"]]},{"id":"2d24515e.28a5de","type":"file","z":"9a302785.7fd8f8","name":"Store to log.txt","filename":"/home/ubuntu/beescale/log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1120,"y":300,"wires":[[]]},{"id":"8a712413.8ea8f8","type":"template","z":"9a302785.7fd8f8","name":"Format CSV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.time}};{{ payload.id}};{{ payload.whtS.w}};{{payload.whtS.u}};{{ payload.tmpS.t}};{{payload.tmpS.u}};{{ payload.humS.h}};{{payload.humS.u}}","output":"str","x":870,"y":300,"wires":[["2d24515e.28a5de"]]},{"id":"f0cf2665.6f21e8","type":"function","z":"9a302785.7fd8f8","name":"Extract temperature","func":"var m = [\n    {topic:msg.payload.id, payload:msg.payload.tmpS.t}\n    ];\nreturn [m];\n\n","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["f1403a93.4c76b8"]]},{"id":"f1403a93.4c76b8","type":"ui_chart","z":"9a302785.7fd8f8","name":"","group":"10fea2ed.88716d","order":2,"width":"0","height":"0","label":"Temperature chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":80,"wires":[[]]},{"id":"e16d7bc1.e36218","type":"http in","z":"9a302785.7fd8f8","name":"","url":"beegl/v1/devices","method":"get","upload":false,"swaggerDoc":"","x":100,"y":600,"wires":[["c90905b2.7f9088"]]},{"id":"c90905b2.7f9088","type":"change","z":"9a302785.7fd8f8","name":"Set response","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"scales","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":600,"wires":[["b4c3fd39.9a6a9"]]},{"id":"b4c3fd39.9a6a9","type":"http response","z":"9a302785.7fd8f8","name":"","statusCode":"","headers":{},"x":810,"y":600,"wires":[]},{"id":"270432b6.76e5ae","type":"http in","z":"9a302785.7fd8f8","name":"","url":"beegl/v1/devices/:id","method":"post","upload":false,"swaggerDoc":"","x":110,"y":700,"wires":[["8fd7fa38.9120b8"]]},{"id":"8fd7fa38.9120b8","type":"function","z":"9a302785.7fd8f8","name":"Update node setting","func":"var found = false;\nvar scales = flow.get(\"scales\").scales;\nnode.log(msg.payload.key);\nfor(index=0;index<scales.length;index++)\n{\n    var scale = scales[index];\n    node.log(scale.id);\n    \n    if(scale.id == msg.payload.id)\n    {\n        found = true;\n        scales[index] = msg.payload;\n        break;\n    }\n}\nif(!found)\n{\n    scales.push(msg.payload);\n}\n\nflow.set(\"scales\",{scales: scales});\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":700,"wires":[["cc5f9ac9.4bac78"]]},{"id":"cc5f9ac9.4bac78","type":"http response","z":"9a302785.7fd8f8","name":"","statusCode":"","headers":{},"x":810,"y":700,"wires":[]},{"id":"85db498d.2035c8","type":"inject","z":"9a302785.7fd8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":20,"wires":[["966f39c0.412cf8"]]},{"id":"966f39c0.412cf8","type":"function","z":"9a302785.7fd8f8","name":"Initialize nodes flow storage","func":"\nif(flow.get(\"scales\")===undefined || flow.get(\"scales\")===\"\" || flow.get(\"scales\").scales===undefined)\n{\n    var scales = { scales : []};\n    \n    flow.set(\"scales\", scales)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":20,"wires":[[]]},{"id":"bd106b5d.8b14b8","type":"http in","z":"9a302785.7fd8f8","name":"","url":"beegl/v1/devices/:id","method":"delete","upload":false,"swaggerDoc":"","x":120,"y":800,"wires":[["2ce98a10.00b166"]]},{"id":"2ce98a10.00b166","type":"function","z":"9a302785.7fd8f8","name":"Delete node setting","func":"var found = false;\nvar scales = flow.get(\"scales\").scales;\nvar index = 0;\nfor(index=0;index<scales.length;index++)\n{\n    var scale = scales[index];\n    if(scale.id == msg.req.params.id)\n    {\n        found = true;\n        break;\n    }\n}\nif(!found)\n{\n    msg.statusCode = 404;\n    msg.statusMessage = \"Scale not found\";\n    msg.payload = \"\";   \n}\nelse\n{\n    scales.splice(index, 1);\n}\nflow.set(\"scales\",{scales: scales});\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":800,"wires":[["a4caae6a.c144e"]]},{"id":"a4caae6a.c144e","type":"http response","z":"9a302785.7fd8f8","name":"","statusCode":"","headers":{},"x":810,"y":800,"wires":[]},{"id":"a01fe850.d8f028","type":"function","z":"9a302785.7fd8f8","name":"Check node registered","func":"var found = false;\nvar scales = flow.get(\"scales\").scales;\nfor(index=0;index<scales.length;index++) {\n    var scale = scales[index];\n    node.log(scale.id);\n    if(scale.id == msg.payload.id) {\n        found = true;\n        break;\n    }\n}\nif(found) {\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["f0cf2665.6f21e8","102fb46a.ccd2bc","8a712413.8ea8f8","f75bfb98.a3e358"]]},{"id":"4bfa289f.12df98","type":"ui_chart","z":"9a302785.7fd8f8","name":"","group":"50b5222f.aae08c","order":2,"width":0,"height":0,"label":"Past 5 days max weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1340,"y":980,"wires":[[]]},{"id":"40d11f57.2883d","type":"csv","z":"9a302785.7fd8f8","name":"","sep":";","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"time,id,weight,weightUnit,temperature,temperatureUnit,humidity,humidityUnit","skip":"0","x":550,"y":1060,"wires":[["249a0460.3dd21c"]]},{"id":"249a0460.3dd21c","type":"function","z":"9a302785.7fd8f8","name":"Process measurements","func":"var from = new Date();\nfrom.setDate(from.getDate()-5);\nvar devices = [];\nfor(i=0;i<msg.payload.length;i++)\n{\n    var id = msg.payload[i].id;\n    var timestamp = new Date(msg.payload[i].time);\n    if(!isNaN(timestamp)) {\n        var dateFraction = timestamp.getFullYear()+\"-\"+(timestamp.getMonth()+1)+\"-\"+timestamp.getDate();\n        console.log(dateFraction);\n        \n        if(timestamp>from)\n        {\n            var device = undefined;\n            for(j=0;j<devices.length;j++)\n            {\n                if(devices[j].id == id)\n                {\n                    device = devices[j];\n                    break;\n                }\n            }\n            if(device===undefined)\n            {\n                device = { \"id\" : id, measurementsPerDay:[] };\n                devices.push(device);\n            }\n            \n            var measurementsPerDate = device.measurementsPerDay;\n            \n            var measurementPerDate = undefined;\n            for(j=0;j<measurementsPerDate.length;j++)\n            {\n                if(measurementsPerDate[j].date==dateFraction)\n                {\n                    measurementPerDate = measurementsPerDate[j];\n                   \n                    break;\n                }\n            }\n            if(measurementPerDate===undefined)\n            {\n                measurementPerDate = { \"date\" : dateFraction, \"measurements\":[] };\n                measurementsPerDate.push(measurementPerDate);\n                \n            }\n            \n            var k=0;\n            if(device.previousMeasurement!==undefined)\n            {\n                var prevTimestamp= new Date(device.previousMeasurement.time);\n                var timeDiff = timestamp-prevTimestamp;\n                var valDiff = Math.abs(msg.payload[i].weight - device.previousMeasurement.weight);\n                k = valDiff/timeDiff; \n    \n            }\n            // 1kg/hour = 1000g/36000000ms\n            if(k<0.000277)\n            {\n                measurementPerDate.measurements.push( msg.payload[i].weight);\n            }\n            \n            device.previousMeasurement = msg.payload[i];\n        }\n    }\n}\n\ndevices.forEach(function(device, index,array) {\n   device.measurementsPerDay.forEach(function(measurementPerDay, index1, array1) {\n       measurementPerDay.last = measurementPerDay.measurements[measurementPerDay.measurements.length-1];\n       measurementPerDay.max = Math.max(...measurementPerDay.measurements);\n       if(index1>0)\n       {\n            measurementPerDay.diff = measurementPerDay.last - device.measurementsPerDay[index1-1].last;\n       } else {\n           measurementPerDay.diff = 0;\n       }\n   }); \n});\nvar tmpMsg = {};\ntmpMsg.payload = {\"devices\" : devices};\nreturn tmpMsg;","outputs":1,"noerr":0,"x":850,"y":980,"wires":[["4247e2b0.5dd94c","1d7232dd.52b89d"]]},{"id":"310dfcab.5c9d14","type":"file in","z":"9a302785.7fd8f8","name":"Read from log.txt","filename":"/home/ubuntu/beescale/log.txt","format":"utf8","chunk":false,"sendError":false,"x":350,"y":1060,"wires":[["40d11f57.2883d"]]},{"id":"4247e2b0.5dd94c","type":"function","z":"9a302785.7fd8f8","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.devices.length;k++)\n{\n    var device = msg.payload.devices[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        \n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                \n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\ntmpMsg.payload[0].labels.sort();\n\n\nconsole.log(tmpMsg.payload[0].series);\nconsole.log(tmpMsg.payload[0].labels);\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        var fdevices = msg.payload.devices.filter(function(device, index3, array3){\n            return device.id == id; \n        });\n         \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n       \n         if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        console.log(\"Day: \" + measurementPerDay.date);\n        var value = measurementPerDay.last;\n        console.log(\"Last value in collection: \" + value);\n        tmpMsg.payload[0].data[index2][index1] = value;\n      \n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1110,"y":980,"wires":[["4bfa289f.12df98"]]},{"id":"1d7232dd.52b89d","type":"function","z":"9a302785.7fd8f8","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.devices.length;k++)\n{\n    var device = msg.payload.devices[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\n\ntmpMsg.payload[0].labels.sort();\n\n\nconsole.log(tmpMsg.payload[0].series);\nconsole.log(tmpMsg.payload[0].labels);\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        \n        var fdevices = msg.payload.devices.filter(function(device, index3, array3){\n           return device.id == id; \n        });\n        \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n        if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        console.log(\"Day: \" + measurementPerDay.date);\n        var value = measurementPerDay.diff;\n        console.log(\"Last value in collection: \" + value);\n        tmpMsg.payload[0].data[index2][index1] = value===null ? 0: value;\n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1110,"y":1100,"wires":[["b33047d8.584018"]]},{"id":"b33047d8.584018","type":"ui_chart","z":"9a302785.7fd8f8","name":"","group":"50b5222f.aae08c","order":3,"width":0,"height":0,"label":"Past 5 days diff weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1340,"y":1100,"wires":[[]]},{"id":"c9e0e668.ecd488","type":"inject","z":"9a302785.7fd8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1060,"wires":[["310dfcab.5c9d14"]]},{"id":"948f8a28.34c488","type":"ui_button","z":"9a302785.7fd8f8","name":"","group":"50b5222f.aae08c","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":1140,"wires":[["310dfcab.5c9d14"]]},{"id":"1786799f.96a956","type":"http in","z":"9a302785.7fd8f8","name":"","url":"/beegl/v1/devices/:id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":900,"wires":[["9a3f8885.5d06b8"]]},{"id":"9a3f8885.5d06b8","type":"function","z":"9a302785.7fd8f8","name":"Get node setting","func":"var found = false;\nvar scales = flow.get(\"scales\").scales;\nnode.log(msg.payload.key);\nfor(index=0;index<scales.length;index++)\n{\n    var scale = scales[index];\n    node.log(scale.id);\n    \n    if(scale.id == msg.req.params.id)\n    {\n        found = true;\n        msg.payload = scale;\n        break;\n    }\n}\nif(!found)\n{\n    msg.statusCode = 404;\n    msg.statusMessage = \"Scale not found\";\n    msg.payload = \"\";   \n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["93bc4a3c.783f68"]]},{"id":"93bc4a3c.783f68","type":"http response","z":"9a302785.7fd8f8","name":"","statusCode":"","headers":{},"x":810,"y":900,"wires":[]},{"id":"f44ae44a.e25818","type":"http in","z":"9a302785.7fd8f8","name":"","url":"beegl/v1/measurements","method":"post","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["a01fe850.d8f028","135d738e.609b3c"]]},{"id":"ea0e5e53.0e135","type":"http response","z":"9a302785.7fd8f8","name":"","statusCode":"","headers":{},"x":810,"y":520,"wires":[]},{"id":"135d738e.609b3c","type":"change","z":"9a302785.7fd8f8","name":"Set response","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["ea0e5e53.0e135"]]},{"id":"f75bfb98.a3e358","type":"function","z":"9a302785.7fd8f8","name":"Extract humidity","func":"var m = [\n    {topic:msg.payload.id, payload:msg.payload.humS.h}\n    ];\nreturn [m];\n\n","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["d1fe1ab7.4c6718"]]},{"id":"d1fe1ab7.4c6718","type":"ui_chart","z":"9a302785.7fd8f8","name":"","group":"10fea2ed.88716d","order":3,"width":"0","height":"0","label":"Humidity chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":120,"wires":[[]]},{"id":"db28db1f.c59c68","type":"mqtt in","z":"9a302785.7fd8f8","name":"mqtt-beeh1-measurements","topic":"measurements","qos":"2","datatype":"auto","broker":"573669f9.ad8188","x":110,"y":260,"wires":[["ada56658.6741a8"]]},{"id":"573669f9.ad8188","type":"mqtt-broker","z":"","name":"iot-allium4-com","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10fea2ed.88716d","type":"ui_group","z":"","name":"Realtime","tab":"dcca82.2df8158","disp":true,"width":"8","collapse":true},{"id":"50b5222f.aae08c","type":"ui_group","z":"","name":"Stat","tab":"dcca82.2df8158","order":2,"disp":true,"width":"8","collapse":false},{"id":"dcca82.2df8158","type":"ui_tab","z":"","name":"Beehives","icon":"bar-chart","order":2,"disabled":false,"hidden":false}]