node-red/beegl_server/beegl_server_flow.json
[{"id":"337b1e33.e305b2","type":"tab","label":"Beegl Services DB","disabled":false,"info":""},{"id":"6ed48838.587e98","type":"mqtt in","z":"337b1e33.e305b2","name":"scale_sensors","topic":"scale_sensors","qos":"2","broker":"d7687aee.e85c68","x":75,"y":184.0000057220459,"wires":[["51417a56.5b31d4"]]},{"id":"51417a56.5b31d4","type":"json","z":"337b1e33.e305b2","name":"Measurement data","property":"payload","action":"","pretty":true,"x":286.0195770263672,"y":183.00000667572021,"wires":[["3ed99429.416c7c","6c281c03.8efd04"]]},{"id":"5fdaa59c.261ffc","type":"http in","z":"337b1e33.e305b2","name":"","url":"beegl/v1/devices","method":"get","upload":false,"swaggerDoc":"","x":105,"y":618.0000591278076,"wires":[["bd20f67c.8c32a8"]]},{"id":"6a487075.72428","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1200.0196418762207,"y":622.0001602172852,"wires":[]},{"id":"b19791a8.953fa","type":"http in","z":"337b1e33.e305b2","name":"","url":"beegl/v1/devices/:id","method":"post","upload":false,"swaggerDoc":"","x":115,"y":718.0000591278076,"wires":[["58151708.3d2118"]]},{"id":"58151708.3d2118","type":"function","z":"337b1e33.e305b2","name":"Update/insert device payload","func":"var payload = []\ntry\n{\n    if(typeof msg.payload.id==='undefined' ||msg.payload.id!=msg.req.params.id)\n    {\n        throw (\"invalidArgument\");\n    }\n} catch (e) {\n    node.error(e,msg);\n    return;\n}\n\npayload[0] = {id:msg.req.params.id}\npayload[1] = {$set: msg.payload}\npayload[2] = {upsert:true}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":469.0195541381836,"y":720.9999866485596,"wires":[["b52757b7.51da08"]]},{"id":"f0c8be32.a3cfd","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1203.0196380615234,"y":718.0000410079956,"wires":[]},{"id":"ddebd929.dab218","type":"http in","z":"337b1e33.e305b2","name":"","url":"beegl/v1/devices/:id","method":"delete","upload":false,"swaggerDoc":"","x":125,"y":818.0000591278076,"wires":[["1a8ad48f.47427b"]]},{"id":"6d2996fc.a79188","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1850.0195808410645,"y":824.0002069473267,"wires":[]},{"id":"6934b1f1.9621a","type":"ui_chart","z":"337b1e33.e305b2","name":"","group":"1011ed71.795933","order":2,"width":0,"height":0,"label":"Past 5 days max weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1487.0195693969727,"y":1182.0000286102295,"wires":[[]]},{"id":"41c8aff.b82ab5","type":"function","z":"337b1e33.e305b2","name":"Process measurements","func":"\nvar devices = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    var payload = msg.payload[key];\n    var id = payload.deviceId;\n    var timestamp = new Date(payload.time);\n    if(!isNaN(timestamp)) {\n        var dateFraction = timestamp.getFullYear()+\"-\"+(timestamp.getMonth()+1)+\"-\"+timestamp.getDate();\n        var device;\n        for(j=0;j<devices.length;j++)\n        {\n            if(devices[j].id == id)\n            {\n                device = devices[j];\n                break;\n            }\n        }\n        if(device===undefined)\n        {\n            device = { \"id\" : id, measurementsPerDay:[] };\n            devices.push(device);\n        }\n        \n        var measurementsPerDate = device.measurementsPerDay;\n        \n        var measurementPerDate;\n        for(j=0;j<measurementsPerDate.length;j++)\n        {\n            if(measurementsPerDate[j].date==dateFraction)\n            {\n                measurementPerDate = measurementsPerDate[j];\n               \n                break;\n            }\n        }\n        if(measurementPerDate===undefined)\n        {\n            measurementPerDate = { \"date\" : dateFraction, \"measurements\":[] };\n            measurementsPerDate.push(measurementPerDate);\n            \n        }\n        \n        var k=0;\n        if(device.previousMeasurement!==undefined)\n        {\n            var prevTimestamp= new Date(device.previousMeasurement.time);\n            var timeDiff = timestamp-prevTimestamp;\n            var valDiff = Math.abs(payload.weight - device.previousMeasurement.weight);\n            k = valDiff/timeDiff; \n\n        }\n        // 1kg/hour = 1000g/36000000ms\n        if(k<0.000277)\n        {\n            measurementPerDate.measurements.push(payload.weight);\n        }\n        \n        device.previousMeasurement = payload;\n        \n    }\n});\n\ndevices.forEach(function(device, index,array) {\n   device.measurementsPerDay.forEach(function(measurementPerDay, index1, array1) {\n       measurementPerDay.last = measurementPerDay.measurements[measurementPerDay.measurements.length-1];\n       measurementPerDay.max = Math.max(...measurementPerDay.measurements);\n       if(index1>0)\n       {\n            measurementPerDay.diff = measurementPerDay.last - device.measurementsPerDay[index1-1].last;\n       } else {\n           measurementPerDay.diff = 0;\n       }\n   }); \n});\nmsg.payload = devices.sort(function(a,b) {\n    if ( a.id < b.id ){\n        return -1;\n    }\n    if ( a.id > b.id ){\n        return 1;\n    }\n    return 0;\n});\nreturn msg;","outputs":1,"noerr":0,"x":941.0196380615234,"y":1255.0000286102295,"wires":[["7c281539.32fc2c","fe7f14cc.69e138"]]},{"id":"7c281539.32fc2c","type":"function","z":"337b1e33.e305b2","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.length;k++)\n{\n    var device = msg.payload[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        \n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                \n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\ntmpMsg.payload[0].labels.sort(function(a,b){\n  // Turn your strings into dates, and then subtract them\n  // to get a value that is either negative, positive, or zero.\n  return new Date(b.date) - new Date(a.date);\n});\n\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        var fdevices = msg.payload.filter(function(device, index3, array3){\n            return device.id == id; \n        });\n         \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n       \n         if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        var value = measurementPerDay.last;\n        tmpMsg.payload[0].data[index2][index1] = value;\n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1202.0195655822754,"y":1183.0000286102295,"wires":[["6934b1f1.9621a"]]},{"id":"fe7f14cc.69e138","type":"function","z":"337b1e33.e305b2","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.length;k++)\n{\n    var device = msg.payload[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\n\ntmpMsg.payload[0].labels.sort(function(a,b){\n  // Turn your strings into dates, and then subtract them\n  // to get a value that is either negative, positive, or zero.\n  return new Date(b.date) - new Date(a.date);\n});\n\n\nconsole.log(tmpMsg.payload[0].series);\nconsole.log(tmpMsg.payload[0].labels);\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        \n        var fdevices = msg.payload.filter(function(device, index3, array3){\n           return device.id == id; \n        });\n        \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n        if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        var value = measurementPerDay.diff;\n        tmpMsg.payload[0].data[index2][index1] = value===null ? 0: value;\n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1208.01957321167,"y":1295.0000085830688,"wires":[["a6b8384a.383918"]]},{"id":"a6b8384a.383918","type":"ui_chart","z":"337b1e33.e305b2","name":"","group":"1011ed71.795933","order":3,"width":0,"height":0,"label":"Past 5 days diff weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1497.0195693969727,"y":1296.000033378601,"wires":[[]]},{"id":"93cfca4.eebbd38","type":"inject","z":"337b1e33.e305b2","name":"Refresh every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":1509.9999895095825,"wires":[["87ebd908.2b6298","12af8c2b.bf25c4"]]},{"id":"d7fcc2f1.18a6f","type":"ui_button","z":"337b1e33.e305b2","name":"","group":"1011ed71.795933","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":65.0195541381836,"y":1318.9999933242798,"wires":[["87ebd908.2b6298","12af8c2b.bf25c4"]]},{"id":"73e2255a.d1068c","type":"http in","z":"337b1e33.e305b2","name":"","url":"/beegl/v1/devices/:id","method":"get","upload":false,"swaggerDoc":"","x":122.00003814697266,"y":970.0001173019409,"wires":[["baa32f6d.8ef9c"]]},{"id":"d94444cd.09c588","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1200.0195655822754,"y":973.000189781189,"wires":[]},{"id":"b04c0f4c.0fab4","type":"http in","z":"337b1e33.e305b2","name":"","url":"beegl/v1/measurements","method":"post","upload":false,"swaggerDoc":"","x":135,"y":538.0000591278076,"wires":[["e450fe7a.32e2c"]]},{"id":"47c40a5e.5126d4","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1055.0195541381836,"y":532.0000152587891,"wires":[]},{"id":"234c01aa.65b2ce","type":"change","z":"337b1e33.e305b2","name":"Set response","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799.0196304321289,"y":535.0000152587891,"wires":[["47c40a5e.5126d4"]]},{"id":"960d9486.ba4ae8","type":"mqtt in","z":"337b1e33.e305b2","name":"measurements","topic":"measurements","qos":"2","broker":"d7687aee.e85c68","x":85,"y":279.99999809265137,"wires":[["51417a56.5b31d4"]]},{"id":"40827e97.df006","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Insert measurement","collection":"measurements","operation":"insertOne","x":1801.019889831543,"y":181.00392723083496,"wires":[[]]},{"id":"ef423ba2.835278","type":"function","z":"337b1e33.e305b2","name":"insertOne payload","func":"var measurement = {\n    \"time\": new Date(msg.payload.time),\n    \"deviceId\": msg.payload.id,\n    \"ver\" : msg.payload.ver\n}\nif(typeof msg.payload.whtS!=='undefined')\n{\n    measurement.weight = msg.payload.whtS.w;\n    measurement.weightUnit = msg.payload.whtS.u;\n}\n\nif(typeof msg.payload.tmpS!=='undefined')\n{\n    measurement.temperature = msg.payload.tmpS.t;\n    measurement.temperatureUnit = msg.payload.tmpS.u;\n}\n\nif(typeof msg.payload.humS!=='undefined')\n{\n    measurement.humidity = msg.payload.humS.h;\n    measurement.humidityUnit = msg.payload.humS.u;\n}\n\nmsg.payload = measurement;\n\nreturn msg;","outputs":1,"noerr":0,"x":1573.8912887573242,"y":180.01960563659668,"wires":[["40827e97.df006"]]},{"id":"60b2c44d.150b0c","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find device","collection":"devices","operation":"findOne","x":696.8869743347168,"y":58.64851188659668,"wires":[["5fa9c5f5.7ddeac"]]},{"id":"3ed99429.416c7c","type":"function","z":"337b1e33.e305b2","name":"Find device query","func":"\nmsg.payload = {\n   id : msg.payload.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":509.0196762084961,"y":59.00392723083496,"wires":[["60b2c44d.150b0c"]]},{"id":"657a326b.bd0dfc","type":"switch","z":"337b1e33.e305b2","name":"","property":"device","propertyType":"global","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1195.8908042907715,"y":180.88287544250488,"wires":[["e62bb839.6d86f8"],[]]},{"id":"5fa9c5f5.7ddeac","type":"change","z":"337b1e33.e305b2","name":"","rules":[{"t":"set","p":"device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.8948287963867,"y":58.35939264297485,"wires":[["da0df6e3.e89928"]]},{"id":"6c281c03.8efd04","type":"change","z":"337b1e33.e305b2","name":"","rules":[{"t":"set","p":"measurement","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.0196762084961,"y":180.00393438339233,"wires":[["da0df6e3.e89928"]]},{"id":"ac26d47c.bb0ae8","type":"mqtt out","z":"337b1e33.e305b2","name":"","topic":"measurements","qos":"","retain":"","broker":"d7687aee.e85c68","x":815.8946304321289,"y":456.17587661743164,"wires":[]},{"id":"629ddd0d.fb6a54","type":"http in","z":"337b1e33.e305b2","name":"","url":"beegl/v1/measurements","method":"get","upload":false,"swaggerDoc":"","x":125,"y":375.0039119720459,"wires":[["ffff3bce.27eb88"]]},{"id":"ffff3bce.27eb88","type":"function","z":"337b1e33.e305b2","name":"Find measurement query","func":"var payload = [];\nvar filter = {};\nvar options = {};\n\nvar pageNo = (msg.req.query.pageNo) ? parseInt(msg.req.query.pageNo) : 1;\nvar size = (msg.req.query.size)? parseInt(msg.req.query.size) : 100;\n\nvar options = {}\nif(pageNo < 0 || pageNo === 0) {\n    \n    node.error(\"invalidArgument\", msg);\n    return;\n}\nif(typeof msg.req.query.deviceId!=='undefined') {\n    filter.deviceId = msg.req.query.deviceId;\n}\nif(typeof msg.req.query.time!=='undefined') {\n    filter.time = new Date(msg.req.query.time);\n}\noptions.skip = size * (pageNo - 1);\noptions.limit = size;\noptions.sort = [];\noptions.sort.push (['time','ascending']);\npayload.push(filter);\npayload.push(options);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":457.01954650878906,"y":373.0039281845093,"wires":[["5fb2d6aa.9c2248"]]},{"id":"5fb2d6aa.9c2248","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find measurements for http","collection":"measurements","operation":"find.toArray","x":752.0195922851562,"y":373.00390625,"wires":[["f7d15745.322348"]]},{"id":"24e28b15.7df804","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":1228.0195693969727,"y":374.00400829315186,"wires":[]},{"id":"b52757b7.51da08","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Update device for http","collection":"devices","operation":"updateOne","x":723.0196304321289,"y":721.0041103363037,"wires":[["62b35de.808e9a4"]]},{"id":"da0df6e3.e89928","type":"join","z":"337b1e33.e305b2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1059.8829612731934,"y":179.80860710144043,"wires":[["657a326b.bd0dfc"]]},{"id":"e62bb839.6d86f8","type":"change","z":"337b1e33.e305b2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"measurement","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1368.8829612731934,"y":179.85942268371582,"wires":[["ef423ba2.835278"]]},{"id":"bd20f67c.8c32a8","type":"function","z":"337b1e33.e305b2","name":"Find devices query","func":"var payload = {}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":453.00000762939453,"y":622.6667041778564,"wires":[["3462727b.8e6f1e"]]},{"id":"3462727b.8e6f1e","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find devices for http","collection":"devices","operation":"find.toArray","x":721.0000228881836,"y":624.6667051315308,"wires":[["daa33326.6ef92"]]},{"id":"1a8ad48f.47427b","type":"function","z":"337b1e33.e305b2","name":"Delete device payload","func":"var payload = []\n\npayload[0] = {id:msg.req.params.id}\n\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":817.6666870117188,"wires":[["20c0cab4.315906"]]},{"id":"20c0cab4.315906","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Remove device for http","collection":"devices","operation":"findOneAndDelete","x":595.0000534057617,"y":817.666690826416,"wires":[["ac52becf.52b9b"]]},{"id":"baa32f6d.8ef9c","type":"function","z":"337b1e33.e305b2","name":"Find device query","func":"var payload = {id:msg.req.params.id}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":443.00004959106445,"y":973.0000867843628,"wires":[["df7fc4ec.c652c8"]]},{"id":"df7fc4ec.c652c8","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find devices for http","collection":"devices","operation":"findOne","x":703.0000610351562,"y":972.0001859664917,"wires":[["640eb7a6.e60968"]]},{"id":"1961ead2.97dd35","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find measurements","collection":"measurements","operation":"find.toArray","x":685.0001373291016,"y":1256.0002756118774,"wires":[["41c8aff.b82ab5"]]},{"id":"87ebd908.2b6298","type":"function","z":"337b1e33.e305b2","name":"Find past 5 days measurement query","func":"var from = new Date();\nfrom.setDate(from.getDate()-5);\n\nvar payload ={\"time\" : { $gte : from }}\nmsg.payload= payload;\nreturn msg;","outputs":1,"noerr":0,"x":406.00000762939453,"y":1254.3333654403687,"wires":[["1961ead2.97dd35"]]},{"id":"12af8c2b.bf25c4","type":"function","z":"337b1e33.e305b2","name":"Find past 24 hours measurements","func":"var from = new Date();\nfrom.setDate(from.getDate()-1);\n\nvar payload ={\"time\" : { $gte : from }}\nmsg.payload= payload;\nreturn msg;","outputs":1,"noerr":0,"x":391.00000762939453,"y":1426.0000371932983,"wires":[["1dcaa079.d5caf"]]},{"id":"1dcaa079.d5caf","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Find measurements","collection":"measurements","operation":"find.toArray","x":689.0000152587891,"y":1426.0000371932983,"wires":[["7213a7a2.33c538"]]},{"id":"1fa97e.31f47683","type":"ui_chart","z":"337b1e33.e305b2","name":"","group":"a1d81abc.166628","order":1,"width":0,"height":0,"label":"Weight chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"80000","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1539.0000457763672,"y":1553.0003652572632,"wires":[[]]},{"id":"992469a9.994c48","type":"function","z":"337b1e33.e305b2","name":"Extract weight","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.weight\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n\n","outputs":1,"noerr":0,"x":1266.0000305175781,"y":1552.0002436637878,"wires":[["1fa97e.31f47683"]]},{"id":"e377e8f4.b55148","type":"function","z":"337b1e33.e305b2","name":"Extract temperature","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.temperature\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n","outputs":1,"noerr":0,"x":1256.0000305175781,"y":1420.0002393722534,"wires":[["263a8eb9.ac2b52"]]},{"id":"263a8eb9.ac2b52","type":"ui_chart","z":"337b1e33.e305b2","name":"","group":"a1d81abc.166628","order":2,"width":"0","height":"0","label":"Temperature chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1527.0000457763672,"y":1418.0002813339233,"wires":[[]]},{"id":"1abb8b.af641475","type":"function","z":"337b1e33.e305b2","name":"Extract humidity","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.humidity\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n","outputs":1,"noerr":0,"x":1264.0000305175781,"y":1480.0000791549683,"wires":[["c633455.79c1ab8"]]},{"id":"c633455.79c1ab8","type":"ui_chart","z":"337b1e33.e305b2","name":"","group":"a1d81abc.166628","order":3,"width":"0","height":"0","label":"Humidity chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1531.0000457763672,"y":1479.0002012252808,"wires":[[]]},{"id":"7213a7a2.33c538","type":"function","z":"337b1e33.e305b2","name":"Process measurements","func":"\nvar devices = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    var payload = msg.payload[key];\n    var id = payload.deviceId;\n    var timestamp = new Date(payload.time);\n    payload.timestamp = timestamp.getTime();\n    if(!isNaN(timestamp)) {\n        var device;\n        for(j=0;j<devices.length;j++)\n        {\n            if(devices[j].id == id)\n            {\n                device = devices[j];\n                break;\n            }\n        }\n        if(device===undefined)\n        {\n            device = { \"id\" : id, measurements:[] };\n            devices.push(device);\n        }\n        \n        device.measurements.push(payload);\n    }\n});\n\ndevices.forEach(function(device) {\n    measurementsSorted = device.measurements.sort(function (a, b) {\n    return a.timestamp - b.timestamp;\n});\n    device.measurements = measurementsSorted;\n})\n\nmsg.payload = devices.sort(function(a,b) {\n    if ( a.id < b.id ){\n        return -1;\n    }\n    if ( a.id > b.id ){\n        return 1;\n    }\n    return 0;\n});\nreturn msg;","outputs":1,"noerr":0,"x":946.0000305175781,"y":1427.3334169387817,"wires":[["e377e8f4.b55148","992469a9.994c48","1abb8b.af641475"]]},{"id":"640eb7a6.e60968","type":"function","z":"337b1e33.e305b2","name":"Process result","func":"if(typeof msg.payload === undefined || (Object.keys(msg.payload).length === 0))\n{\n    msg.statusCode=404;\n    msg.payload = undefined;\n    return msg;\n} else {\n    msg.statusCode=200;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":982.0235061645508,"y":969.0393304824829,"wires":[["d94444cd.09c588"]]},{"id":"daa33326.6ef92","type":"function","z":"337b1e33.e305b2","name":"Process result","func":"var payload = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    payload.push(msg.payload[key]);\n});\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960.0001068115234,"y":622.6667051315308,"wires":[["6a487075.72428"]]},{"id":"62b35de.808e9a4","type":"function","z":"337b1e33.e305b2","name":"Process result","func":"var payload = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    payload.push(msg.payload[key]);\n});\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":961.0000228881836,"y":721.6667079925537,"wires":[["f0c8be32.a3cfd"]]},{"id":"5fbbe37e.df654c","type":"catch","z":"337b1e33.e305b2","name":"Http error handler","scope":["3462727b.8e6f1e","df7fc4ec.c652c8","5fb2d6aa.9c2248","e450fe7a.32e2c","20c0cab4.315906","b52757b7.51da08","58151708.3d2118"],"x":87.16667175292969,"y":1048,"wires":[["43533329.c64afc"]]},{"id":"2f0e9511.96bbba","type":"http response","z":"337b1e33.e305b2","name":"","statusCode":"","headers":{},"x":550.0000915527344,"y":1049.000244140625,"wires":[]},{"id":"43533329.c64afc","type":"function","z":"337b1e33.e305b2","name":"Process result","func":"if(msg.error.message==\"invalidArgument\") {\n    msg.payload.error = \"Invalid argument.\";\n    msg.statusCode=405;\n} else {\n    msg.payload.error = msg.error.message;\n    msg.statusCode=500\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":330.00001525878906,"y":1049,"wires":[["2f0e9511.96bbba"]]},{"id":"ac52becf.52b9b","type":"switch","z":"337b1e33.e305b2","name":"Remove measurements","property":"req.query.removeMeasurements","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":858.0001907348633,"y":818.0000238418579,"wires":[["d70a3b80.734848"],["bdb09a7.075ad68"]]},{"id":"f70510c9.6c49f","type":"mongodb3 in","z":"337b1e33.e305b2","service":"_ext_","configNode":"7b6a80a3.09ce1","name":"Remove measurements","collection":"measurements","operation":"removeMany","x":1403.0000457763672,"y":769.0001239776611,"wires":[["bdb09a7.075ad68"]]},{"id":"d70a3b80.734848","type":"function","z":"337b1e33.e305b2","name":"Find measurement query","func":"var payload = { }\nif(typeof msg.req.params.id!=='undefined') {\n    payload.deviceId = msg.req.params.id;\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1121.0000381469727,"y":770.3333559036255,"wires":[["f70510c9.6c49f"]]},{"id":"f7d15745.322348","type":"function","z":"337b1e33.e305b2","name":"Process result","func":"var payload = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    payload.push(msg.payload[key]);\n});\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1016.0001068115234,"y":373.3333549499512,"wires":[["24e28b15.7df804"]]},{"id":"e450fe7a.32e2c","type":"function","z":"337b1e33.e305b2","name":"Insert measurement payload","func":"var payload = { }\nif((typeof msg.payload.id==='undefined') && (typeof msg.payload.deviceId!=='undefined')) {\n    msg.payload.id = msg.payload.deviceId;\n}\n\nif((typeof msg.payload.id==='undefined') || (typeof msg.payload.time==='undefined')) {\n    node.error(\"invalidArgument\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":456.00000762939453,"y":535.0000152587891,"wires":[["ac26d47c.bb0ae8","234c01aa.65b2ce"]]},{"id":"bdb09a7.075ad68","type":"function","z":"337b1e33.e305b2","name":"Set response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1646.0000457763672,"y":824.0001258850098,"wires":[["6d2996fc.a79188"]]},{"id":"d7687aee.e85c68","type":"mqtt-broker","z":"","name":"beegl-mqtt-broker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1011ed71.795933","type":"ui_group","z":"","name":"Stat","tab":"aef49384.018a2","order":3,"disp":true,"width":"8","collapse":false},{"id":"7b6a80a3.09ce1","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/beegl","name":"beegl-mongodb","options":"","parallelism":"-1"},{"id":"a1d81abc.166628","type":"ui_group","z":"","name":"Realtime","tab":"aef49384.018a2","order":1,"disp":true,"width":"8","collapse":true},{"id":"aef49384.018a2","type":"ui_tab","z":"","name":"Beehives","icon":"bar-chart","order":2,"disabled":false,"hidden":false}]